option_settings:
  - option_name:  GOOGLE_CLIENT_ID
    value:  972660804432-c1h6kjfa0g99d87tgg7m3e8vm15q5oq7.apps.googleusercontent.com
  - option_name:  CLIENT_SECRET
    value:  QrbC_mKi9hVke0btRmB2v_QB
  - option_name:  MONGO_URI
    value:  mongodb://<dbuser>:<dbpassword>@ds161913.mlab.com:61913/feedy-prod
  - option_name:  COOKIE_KEY
    value:  kjhafaf9p09acjasf
  - option_name:  NODE_ENV
    value: production
